
/* Universal */

html, body {

  margin: 0;
  padding: 0;

}

html {

  font-size: 16px;

}

body {

  background-color: #ffffff;

}

.underline {

  text-decoration: underline;

}

::selection {

  background: #BEFFBC;

}

::-moz-selection {

  background: #BEFFBC;

}

.line-1 {

  position: relative;
  border-right: 2px solid #212121;
  white-space: nowrap;
  overflow: hidden;

}

.slideup-animation {

  animation-name: slideUp;
  animation-duration: .5s;
  animation-fill-mode: forwards;

}

/* Navigation Screen */

.nav-screen {

  height: 100%;
  width: 100%;
  z-index: 1000;
  position: fixed;
  top: 0;
  right: 0;
  background-color: #fff;
  overflow-x: hidden;
  transition: 0.5s;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

}

.nav-screen .ham-menu .ham-line {

  height: 2px;
  margin: 6px;
  width: 25px;
  border-radius: 1px;
  background-color: #212121;
  transition: all 0.3s ease;

}

.nav-screen .ham-menu {

  cursor: pointer;
  position: absolute;
  top: 20;
  right: 20;
  display: flex;

}

.nav-screen a {

  text-decoration: underline;
  font-family: "Playfair Display", sans-serif;
  font-size: 2rem;
  color: #212121;
  transition: all 0.3s ease;
  margin: 10px;

}

.nav-screen a:hover {

  opacity: 0.75;
  transition: all 0.3s ease;

}

/* Navigation Bar */

.nav {

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;

}

.nav .nav-left {

  float: left;

}

.nav .nav-left img {

  margin-left: 20px;
  margin-top: 20px;

}

.nav .nav-right {

  float: right;
  cursor: pointer;
  display: flex;
  align-items: center;
  margin-top: 20px;
  margin-right: 20px;

}

.menu-name {

  font-family: "Playfair Display", sans-serif;
  color: #212121;

}

.nav .nav-right .ham-menu .ham-line {

  height: 2px;
  margin: 6px;
  width: 25px;
  border-radius: 1px;
  background-color: #212121;
  transition: all 0.3s ease;

}

/* Intro */

.intro {

  width: 100%;
  height: 350px;
  background-color: #fff;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;

}

.intro-content h1 {

  font-family: "Playfair Display", sans-serif;
  color: #212121;
  font-size: 3.5rem;
  padding: 10px;
  text-decoration: underline;

}

/* Contact Content */

.contact {

  width: 100%;
  background-color: #eee;

}

.contact-content {

  padding-top: 100px;
  padding-bottom: 300px;
  width: 55%;
  margin: 0 auto;
  text-align: center;

}

.contact-heading h1 {

  font-size: 1.5rem;
  font-family: "Playfair Display", sans-serif;
  padding-bottom: 20px;

}

.contact-heading p {

  font-size: 1rem;
  font-family: "Playfair Display", sans-serif;
  padding-bottom: 20px;

}

.contact-heading a {

  color: #000;
  font-size: 1.2rem;
  font-family: "Playfair Display", sans-serif;
  text-decoration: none;
  border-bottom: 1px solid #000;
  transition: all 0.3s ease;

}

.contact-heading a:hover {

  border-bottom: 1px solid #ffb7b7;
  transition: all 0.3s ease;

}

/* Media Queries */

@media only screen and (max-width: 1000px) {

  .contact-content {

    width: 80%;

  }

  input[type="text"] {

    width: 85%;

  }

  textarea {

    width: 85%;

  }

  input[type="submit"] {

    width: 85%;
    font-size: .55rem;

  }

} 
