#page {
	height: 100vh;
	width: 100%;
	background-image: url("../img/dropletbackground.jpg");
	background-size: cover;
}

#page img {
	height: 150px;
	width: 150px;
	margin-top: 200px;
}

#page h1 {

	text-align: center;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	font-size: 25px;
	color: #fff;
	
}

#page h3 {

	text-align: center;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	font-size: 20px;
	color: #fff;

}

#page p {

	text-align: center;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	font-size: 15px;
	position: absolute;
	bottom: 20px;
	left: 20px;
	color: #fff;

}

