#page {
	height: 100vh;
	width: 100%;
	background-image: url("../img/jjj.jpg");
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
}

#page .box {
	background-color: #fff;
	position: relative;
	height: 550px;
	width: 420px;
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
	border-radius: 4px;
	display: block;
}

.box h1 {
	text-align: center;
	font-family: 'Lato', sans-serif;
	font-weight: 100;
	font-size: 50px;
	margin-bottom: 50px;
}

.box h2 {
	text-align: center;
	font-family: 'Lato', sans-serif;
	font-weight: 100;
	font-size: 18px;
	margin-bottom: 100px;
}

.git a {
	color: #000;
	font-family: 'Lato', sans-serif;
	font-weight: 100;
	font-size: 25px;
}

.back a {
	text-align: center;
	background-color: #000;
	color: #fff;
	width: 100%;
	font-family: 'Lato', sans-serif;
	font-size: 20px;
	border-radius: 0px;
	font-weight: 300;
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 15px;
	outline: none;
	transition: all 0.3s ease;
}

.back a:hover {
	transition: all 0.3s ease;
	background-color: #212121;
	text-decoration: none;
}

@media screen and (max-width: 768px) {
	.box h1 {
		margin-bottom: 50px;
	}
	#page .box {
		height: 500px;
		width: 400px;
	}
}












