
html, body {
	margin: 0;
	padding: 0;
}

/* Navigation */

nav {
	background-color: #212121;
	position: fixed;
	top: 0%;
	width: 100%;
	height: 60px;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

nav li {
	display: inline;
}

nav .title a {
	color: #fff;
	text-decoration: none;
	font-family: 'Cardo', sans-serif;
	font-size: 25px;
	margin-left: -40px;
}

nav .button img {
	float: left;
	text-align: center;
	position: absolute;
	top: 11px;
	left: 15px;
}

nav ul {
	list-style-type: none;
}

/* Full Page */

.fullpage {
	height: 100vh;
	width: 100%;
}

.fullpage img {
	height: 250px;
	width: 250px;
	margin-top: 100px;
}

.fullpage h1 {
	font-family: 'Lato', sans-serif;
	font-size: 50px;
}

.fullpage h3 {
	font-family: 'Lato', sans-serif;
	font-size: 25px;
}

.line {
	background-color: #212121;
	height: 1px;
	width: 250px;
	margin-bottom: 75px;
}

.fullpage a {
    text-decoration: none;
    color: #212121;
    background-color: #fff;
    border: 2px solid #212121;
    border-radius: 2px;
    font-family: 'Lato', sans-serif;
    padding: 20px 60px 20px 60px;
    font-size: 18px;
    transition: all 0.3s ease;
}

.fullpage a:hover {
    background-color: #212121;
    color: #fff;
    transition: all 0.3s ease;
}















