
/* Universal */

html, body {

  margin: 0;
  padding: 0;

}

html {

  font-size: 16px;

}

body {

  background-color: #ffffff;

}

::selection {

  background: #BEFFBC;

}

::-moz-selection {

  background: #BEFFBC;

}

.line-1 {

  position: relative;
  border-right: 2px solid #212121;
  white-space: nowrap;
  overflow: hidden;

}

.slideup-animation {

  animation-name: slideUp;
  animation-duration: .5s;
  animation-fill-mode: forwards;

}

/* Navigation Screen */

.nav-screen {

  height: 100%;
  width: 100%;
  z-index: 1000;
  position: fixed;
  top: 0;
  right: 0;
  background-color: #fff;
  overflow-x: hidden;
  transition: 0.5s;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

}

.nav-screen .ham-menu .ham-line {

  height: 2px;
  margin: 6px;
  width: 25px;
  border-radius: 1px;
  background-color: #212121;
  transition: all 0.3s ease;

}

.nav-screen .ham-menu {

  cursor: pointer;
  position: absolute;
  top: 20;
  right: 20;
  display: flex;

}

.nav-screen a {

  text-decoration: none;
  font-family: "Playfair Display", sans-serif;
  font-size: 2rem;
  color: #212121;
  transition: all 0.3s ease;
  margin: 10px;

}

.nav-screen a:hover {

  opacity: 0.75;
  transition: all 0.3s ease;

}

/* Navigation Bar */

.nav {

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;

}

.nav .nav-left {

  float: left;

}

.nav .nav-left img {

  margin-left: 20px;
  margin-top: 20px;

}

.nav .nav-right {

  float: right;
  cursor: pointer;
  display: flex;
  align-items: center;
  margin-top: 20px;
  margin-right: 20px;

}

.menu-name {

  font-family: "Playfair Display", sans-serif;
  color: #212121;

}

.nav .nav-right .ham-menu .ham-line {

  height: 2px;
  margin: 6px;
  width: 25px;
  border-radius: 1px;
  background-color: #212121;
  transition: all 0.3s ease;

}

/* Intro */

.intro {

  width: 100%;
  height: 350px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;

}

.intro-content h1 {

  font-family: "Playfair Display", sans-serif;
  color: #212121;
  font-size: 3.5rem;
  padding: 10px;

}

.intro-content {

  text-align: center;

}

.intro-content img {

  padding: 10px;

}

/* Projects Section */

.work {

  background-color: #eee;
  width: 100%;

}

.work-content {

  margin: 0 auto;
  padding: 50px;
  overflow: hidden;
  display: table;

}

.work-block {

  background-color: #fff;
  overflow: hidden;
  margin-bottom: 50px;
  display: flex;

}

.work-block .left-content {

  width: 50%;
  float: left;
  margin: 0 auto;

}

.work-block .left-content .roundup {

  width: 75%;
  margin: 0 auto;
  padding-top: 100px;
  padding-bottom: 100px;

}

.work-block .left-content .roundup h3 {

  padding:0;
  margin:0;
  color: #212121;
  font-family: 'Playfair Display', serif;
  font-size: 1rem;

}

.work-block .left-content .roundup p {

  padding-bottom: 20px;
  margin:0;
  color: #212121;
  font-family: 'Lato', sans-serif;
  font-size: 1rem;
  line-height: 20px;

}

.work-block .left-content .roundup h1 {

  font-family: 'Playfair Display', serif;
  color: #212121;
  font-size: 2.5rem;
  padding-bottom: 15px;
  padding-top: 15px;
  margin:0;

}

.work-block .left-content .roundup a {

  color: #212121;
  text-decoration: underline;
  font-family: "Playfair Display", sans-serif;
  transition: all 0.3s ease;
  cursor: pointer;

}

.work-block .right-content {

  width: 50%;
  float: right;
  flex: 1;

}

#honest {

  background-image: url('../img/hav.png');
  background-size: cover;
  background-position: center;

}

#meurice {

  background-image: url('../img/meurice.png');
  background-size: cover;
  background-position: center;

}

#trendshop {

  background-image: url('../img/trendshop.png');
  background-size: cover;
  background-position: center;

}

#kelsey {

  background-image: url('../img/inprogress.png');
  background-size: cover;
  background-position: center;

}

#ndo {

  background-image: url('../img/inprogress.png');
  background-size: cover;
  background-position: center;

}


/* Instagram */

.insta {

  width: 100%;

}

.insta-content {

  padding-top: 75px;
  padding-bottom: 75px;
  margin: 0 auto;
  width: 70%;

}

.insta-content h2 {

  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;

}

.insta-set {

  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;

}

.insta-set img {

  width: 28%;
  border-radius: 5px;
  padding: 25px;

}

.insta-content p {

  text-align: center;
  font-family: 'Playfair Display', sans-serif;

}

/* End */

.sep-line {

  height: 2px;
  width: 100%;
  background-color: #fff;

}

.end-coffee h1 {

  color: #fff;
  font-family: 'Playfair Display', serif;
  font-size: 1.5rem;
  text-align: center;
  padding-bottom: 50px;

}

.end {

  width: 100%;
  background-color: #212121;

}

.end-content {

  width: 85%;
  padding-top: 100px;
  padding-bottom: 50px;
  margin: 0 auto;

}

.end-title h1 {

  color: #fff;
  font-family: 'Playfair Display', serif;
  font-size: 1.5rem;

}

.end-group {

  display: flex;
  justify-content: space-between;

}

.icon-row {

    display: flex;
    justify-content: center;
    align-items: center;

}

.end img {

    height: 22px;
    width: 22px;
    transition: all 0.3s ease;
    margin-left: 20px;

}

/* Media Queries */

@media only screen and (max-width: 768px) {

  .project-grid .project-link {

    width: 100%;
    margin-bottom: 10%;

  }

  .work-block .left-content {

    width: 100%;
    float: none;
    margin: 0 auto;

  }

  .work-block .right-content {

    width: 100%;
    float: none;
    margin: 0 auto;
    height: 300px;
    border: 12px solid #fff;
    box-sizing: border-box;

  }

  .work-content {

    margin: 0 auto;
    padding: 30px;

  }

  .work-block {

    display: block;
    margin-bottom: 20px;

  }

  .insta-set img {

    width: 100%;

  }

  .insta-set {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

  }
  
  .end-title h1 {

    color: #fff;
    font-family: 'Playfair Display', serif;
    font-size: 1rem;

  }

}
