html, body {

    margin: 0;
    padding: 0;

}

/* NavBar */

.overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #274255;
    overflow-y: hidden;
    transition: 0.5s;
}

.ham span img {
	position: absolute;
	top: 30px;
	left: 30px;
	transition: all 0.3s ease;
    z-index: 9;
}

.hamspan {
	transition: all 0.3s ease;
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay a {
    padding: 10px;
    text-decoration: none;
    font-size: 50px;
    color: #fff;
    display: block;
    transition: 0.3s;
    font-family: Avenir, sans-serif;
    font-weight: 100;
}

.overlay a:hover, .overlay a:focus {
    color: #E5A58B;
    text-decoration: none;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay {overflow-y: auto;}
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

/* Page1 */

#page1 {

    height: 100vh;
    width: 100%;
    background-image: url("../img/b2.jpg");
    background-size: cover;
    background-attachment: fixed;
    display: flex;

}

#page1 h1 {

    color: #fff;
    font-family: Avenir, sans-serif;
    font-weight: 700;
    font-size: 150px;
    align-self: center;
    padding-left: 75px;

}

.ball {

    position: absolute;
    background-color: #fff;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    bottom: -12.5px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);

}

/* Page 2 */

#skills {

    width: 100%;
    height: 200px;

}

#skills h1 {

    font-family: Avenir, sans-serif;
    font-size: 80px;
    font-weight: 800;
    text-align: center;
    color: #274255;
    padding-top: 100px;


}

#page2 {

    height: 500px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

}

#page2 .box {

    height: 245px;
    width: 245px;
    border-radius: 50%;
    background-color: #fff;
    border: 10px solid #274255;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;

}

.box:hover {
 
    transition: all 0.3s ease;
    transform: translate(0px, -30px);
    cursor: pointer;

}

.box img {

    height: 115px;

}

/* Page 3 */

#page3 {

    width: 100%;

}

#page3 #colleft {

    background-color: #274255;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-content: space-around;
    align-items: center;
    justify-content: space-between; /* change for space between */

}

#page3 #colleft img {

    height: 75px;
    width: 75px;

}

#page3 #colleft h1 {

    color: #fff;
    font-family: Avenir, sans-serif;
    font-size: 70px;
    font-weight: 700;

}

#page3 #colleft p {

    color: #fff;
    font-family: Avenir, sans-serif;
    font-weight: 100;
    font-size: 20px;
    width: 400px;

}

#page3 #colright {

    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

/* Page4 */

#page4 {
    
        width: 100%;
    
}

#page4 #colright {
    
    background-color: #274255;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-content: space-around;
    align-items: center;
    justify-content: space-between; /* change for space between */
    
}
    
#page4 #colright img {
    
    height: 75px;
    width: 75px;
    
}
    
#page4 #colright h1 {
    
    color: #fff;
    font-family: Avenir, sans-serif;
    font-size: 70px;
    font-weight: 700;
    
}
    
#page4 #colright p {
    
    color: #fff;
    font-family: Avenir, sans-serif;
    font-weight: 100;
    font-size: 20px;
    width: 400px;
    
}
    
#page4 #colleft {
    
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#page4 #colleft img {

    height: 250px;

}

/* Page5 */

#page5 {

    height: 85vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: space-around;
    align-items: center;
    justify-content: space-between;

}

#page5 h1 {

    text-align: center;
    font-family: Avenir, sans-serif;
    font-weight: 700;
    font-size: 70px;
    color: #274255;

}

#page5 p {

    text-align: center;
    color: #274255; 
    font-family: Avenir, sans-serif;
    font-size: 25px;
    font-weight: 500;

}

#page5 a {

    color: #fff;
    background-color: #274255;
    font-family: Avenir, sans-serif;
    font-size: 20px;
    padding: 30px 75px 30px 75px;
    text-decoration: none;
    transition: all 0.3s ease;

}

#page5 a:hover {

    transition: all 0.3s ease;
    border: 2px solid #274255;
    background-color: #fff;
    color: #274255

}

/* Bottom */
    
#bottom {

    height: 15vh;
    width: 100%;
    background-image: url("../img/b2.jpg");
    background-size: cover;
    background-attachment: fixed;

}

#bottom img {
    margin-top: 35px;
    height: 50px;
    width: 50px;
    transition: all 0.2s ease;
}
  
#bottom img:hover {
    height: 54px;
    width: 54px;
    transition: all 0.2s ease;
}

/* Media Queries */

@media screen and (max-width: 768px) {
  
    #page1 h1 {

        font-size: 45px;
        padding-left: 50px;

    }

    #page2 .box {

        height: 100px;
        width: 100px;

    }

    .box img {

        height: 50px;

    }

    #page1dot5 {

        flex-flow: row wrap;

    }

    #page3 #colleft p {

        font-size: 15px;
        width: 300px;

    }

    #page4 #colright p {

        font-size: 15px;
        width: 300px;

    }

    #page4 #colleft img {
        
        height: 150px;
        
    }


}
