
html, body {
    margin: 0;
    padding: 0;
}

/* Universal */

.navcolor {
    transition: all 0.5s ease;
    background-color: #212121;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.line {
    background-color: #212121;
    height: 1px;
    width: 150px;
}

/* Navbar */

nav {
    transition: all .5s ease;
    background-color: transparent;
    position: fixed;
    top: 0%;
    width: 100%;
}

nav li {
    display: inline;
}

nav h1 {
    color: #fff;
}

nav ul {
    list-style-type: none;
}

nav a {
    transition: all 0.3s ease;
    text-decoration: none;
    color: #fff;
    font-family: 'Cardo', sans-serif;
    padding: 10px;
    font-size: 18px;
    margin-right: 15px;
    transition: all 0.3s ease;
}

nav a:hover {
    color: #bdbdbd;
    transition: all 0.3s ease;
}

.mainLink a {
    font-size: 20px;
}

/* Page One */

.page1 {
    background-image: url("../img/backgroundpic2.jpg");
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    width: 100%;
    border-bottom: 2px solid #212121;
}

.head h1 {
    text-align: center;
    font-family: 'Lato', sans-serif;
    color: #fff;
    text-align: center;
    font-size: 200px;
    font-weight: 500;
    position: absolute;
    top: 15%;
    left: 50%;
    margin-left: -400px;
}

.scroll {
    height: 37px;
    width: 25px;
    position: absolute;
    top: 88%;
    left: 50%;
    border: 2px solid #fff;
    margin-left: -15px;
    border-radius: 20px;
    cursor: pointer;
}

.scroll .ball {
    margin-top: 7px;
    height: 5px;
    width: 5px;
    background-color: #fff;
    border-radius: 50%;
    animation-name: ballmove;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-fill-mode: forwards;
    animation-play-state: running;
}

/* Page Two */

.page2 {
    height: 600px;
    width: 100%;
}

.page2 img {
    margin-top: 40px;
    height: 100px;
    width: 100px;
    margin-bottom: 30px;
}

.page2 h1 {
    text-align: center;
    font-family: 'Poiret One', sans-serif;
    font-size: 60px;
}

.page2 h3 {
    text-align: center;
    color: #424242;
    font-family: 'Poiret One', sans-serif;
    font-size: 25px;
    margin-bottom: 120px;
}

.page2 a {
    text-decoration: none;
    color: #212121;
    background-color: #fff;
    border: 2px solid #212121;
    border-radius: 2px;
    font-family: 'Poiret One', sans-serif;
    padding: 20px 60px 20px 60px;
    font-size: 18px;
    transition: all 0.3s ease;
}

.page2 a:hover {
    background-color: #212121;
    color: #fff;
    transition: all 0.3s ease;
}

/* Page Three */

.page3 {
    height: 400px;
    width: 100%;
    background-color: #fff;
}

.tabs {
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.tabs img {
    margin-top: 40px;
    height: 100px;
    width: 100px;
}

.tabs .linetab {
    background-color: #212121;
    height: 2px;
    width: 50px;
}

.tab1 {
    border: 1px solid #212121;
    background-color: #fff;
    height: 400px;
    width: 375px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    text-align: center;
    transition: all 0.3s ease;  
}

.tabs h1 {
    font-family: 'Cardo', sans-serif;
}

.tabs h2 {
    font-family: 'Cardo', sans-serif;
    font-weight: 500;
}

.tab1:hover {
    border: 1px solid #F44336;
    height: 410px;
    width: 385px;
    transition: all 0.3s ease;
    cursor: pointer;
}

.tab2:hover {
    border: 1px solid #F44336;
    height: 410px;
    width: 385px;
    transition: all 0.3s ease;
    cursor: pointer;
}

.tab3:hover {
    border: 1px solid #F44336;
    height: 410px;
    width: 385px;
    transition: all 0.3s ease;
    cursor: pointer;
}

.tab2 {
    border: 1px solid #212121;
    background-color: #fff;
    height: 400px;
    width: 375px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23); 
    text-align: center;
    transition: all 0.3s ease;
}

.tab3 {
    border: 1px solid #212121;
    background-color: #fff;
    height: 400px;
    width: 375px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    text-align: center;
    transition: all 0.3s ease;   
}

/* Page Four */

.page4 {
    height: 500px;
    width: 100%;
    background-color: #212121;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.page4 h1 {
    font-family: 'Poiret One', sans-serif;
    font-weight: 400;
    text-align: center;
    color: #fff;
    font-size: 200px;
    padding-top: 100px;
}
.page4 h3 {
    margin-top: -100px;
    font-family: 'Poiret One', sans-serif;
    font-weight: 400;
    text-align: center;
    color: #fff;
    font-size: 30px;
}

/* Page Five */

.page5 {
    height: 700px;
    width: 100%;
}

.page5 h1 {
    margin-top: 150px;
    text-align: center;
    font-family: 'Cardo', sans-serif;
    font-size: 60px;
    font-weight: 500;
}

.page5 .line {
    height: 2px;
    width: 100px;
    background-color: #000;
}

.page5 p {
    width: 700px;
    color: #757575;
    font-family: 'Cardo', sans-serif;
    font-size: 20px;
    line-height: 1.5;
}


/* Bottom */

.bottom {
    background-color: #212121;
    width: 100%;
    height: 100px;
}

.bottom p {
    padding-top: 30px;
    text-align: center;
    font-family: 'Cardo', sans-serif;
    color: #fff;
}

.bottom a {
    color: #fff;
}

.rowa {
    display: inline;
}

.rowa a {
    padding: 12px;
    font-family: 'Cardo', sans-serif;
    text-decoration: none;
}

.rowa a:hover {
    text-decoration: underline;
}

/* Keyframes */

@keyframes ballmove {
    0% {

    }
    100% {
        transform: translate(0px, 5px);
    }
}









